.titleheader {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
}
.dayentry {
  display: flex;
  margin: 5px;

  padding: 5px;
  justify-content: center;
}
.logentrytable {
  justify-content: center;
  display: table;
  margin-top: 40px;
  margin-left: 90px;
  margin-right: 100px;
}
.cal {
  border-radius: 10px;
  width: 80px;
  padding: 0;
  margin: 0;
  border: 1px solid lightpink;
}
.entrybutton {
  border-radius: 120px;
  padding: 0;
  width: 38px;
  background-color: lightseagreen;
  margin-left: 20px;
}
.logentry {
  display: table;

  padding: 5px;
  justify-content: center;
}
.removebutton {
  border-radius: 90px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: lightseagreen;
  margin-left: 70px;
}
.logday {
  display: table-row;
  display: flex;
  margin-left: 80px;
  padding: 5px;
  justify-content: center;
}
.logmeal {
  display: table-row;
  display: flex;
  margin-left: 120px;
  padding: 5px;
  justify-content: center;
}
.logcal {
  display: table-row;
  display: flex;
  margin-left: 150px;
  padding: 5px;
  justify-content: center;
}
.logentryRow {
  margin-top: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightpink;
  width: 700px;
  height: 100px;
  color: gray;
  align-items: center;
  background: "linear-gradient(to right top, #1f1d1e, #261c24, #2a1c2c, #2b1d37, #262043, #1c2245, #102445, #002645, #002438, #01202a, #0b1b1e, #121515)";
  border-radius: 8px;
}
